//@import "src/assets/scss/colors";
//@import "src/assets/scss/common";

.new-item-zone {
  opacity: 0.8;
  background: #E6E9EB;
  min-height: 70px;
  //border: solid 2px #B6B6B6;
  border-radius: 4px;
  margin: 4px 16px;

  font-family: Roboto, sans-serif;
  color: #1C2B35;
  font-size: 10px;

  mat-icon {
    margin: 10px auto 8px;
    font-size: 30px;
    width: 30px;
    height: 30px;
  }

  p {
    margin: 0 auto 2px;
  }
}

.link {
  color:  #452674;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.new-folder-form {
  mat-spinner {
    display: inline;
    margin-left: 2px;
    padding-right: 26px;
  }

  input {
    margin-left: 6px;
    padding-left: 0;
    background: none;
    border: none;

    font-family: Roboto, sans-serif;
    color: #1C2B35;
    font-size: 10px;

    border-bottom: solid #B6B6B6;
    border-top: solid transparent;
    transition: border-bottom-color 300ms ease-in-out;
    border-radius: 1px;

    &:focus-visible,
    &:focus {
      outline: none;
      border-bottom: solid #4440E2;
      border-top: solid transparent;
    }

    &:disabled {
      opacity: 60%;
    }
  }

  button {
    margin: 0 2px;
    height: 10px;
    width: 10px;
    line-height: 10px;
    color: #B6B6B6;

    &:hover {
      color: #00000099;
    }

    mat-icon {
      line-height: 10px;
      font-size: 10px;
      height: 10px;
      width: 10px;
      margin: 0;
    }
  }
}
