//@import "src/assets/scss/colors";
//@import "src/assets/scss/common";

/* Animate items as they're being sorted. */
::ng-deep .cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
::ng-deep .cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}
