//@import "src/assets/scss/colors";
//@import "src/assets/scss/common";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");


.tree-node {
  margin: 4px 0 4px 16px;

  &.drag-drop-placeholder {
    background: #ccc;
    border: dotted 3px #999;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}

.item-name {
  font-family: Roboto, sans-serif;
  color: #1C2B35;
  font-size: 12px;
  line-height: normal;
  margin: 8px 12px 8px 12px;
}

.toolbox-icon-button {
  margin: 0 2px;
  height: 18px;
  width: 18px;
  line-height: 18px;
  color: #B6B6B6;

  &:hover {
    color: #00000099;
  }

  mat-icon {
    line-height: 16px;
    font-size: 18px;
    height: 18px;
    width: 18px;
  }
}

.new-folder-toolbox-icon-button {
  margin: 0 2px;
  height: 12px;
  width: 12px;
  line-height: 12px;
  color: #B6B6B6;

  &:hover {
    color: #00000099;
  }

  mat-icon {
    line-height: 10px;
    font-size: 12px;
    height: 112px;
    width: 12px;
  }
}

.header-icon {
  color: #1C2B35;
  font-size: 22px;
  height: 22px;
  width: 22px;
}

.children-container {
  margin-left: 20px
}
